body{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color:rgb(92, 92, 92)

}

.Home{
    /*https://images.wallpaperscraft.com/image/cup_coffee_hands_192936_1920x1080.jpg
    
    https://images.unsplash.com/photo-1513267048331-5611cad62e41?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80
    
    
    */

   }
.Home .header-img{
    width: 100%;
}
.Home .article-header{
width: 100%;
border-left: 4px solid rgb(92, 92, 92);
margin-top: 20px;
}
.Home .article-header h1{
    font-size: 1.5vw; 
    margin-left: 10px;
    cursor: pointer;
    color:rgb(92, 92, 92)
 } 

.Home .article-header h1:hover{
    
 color: rgb(195, 195, 195)
}

.Home .article-section{
    width: 100%;
    margin-top: 20px;
    display: flex;
}

.Home .article-page{
    flex-wrap: wrap;
   
}

.Home .art1{
    margin-right: 15px;
    flex-grow: 1;
    flex-shrink: 1;
}

/* .Home .art1:last-child{
    margin-right: 0px;
} */

.Home .article-section img{
    width: 100%;
    max-width: 500px;
    min-height: 250px;
    max-height: 250px;
}
.Home .article-section h1{
     font-size: 1.1vw;
     margin-top: 10px;
     color: black;
}

.Home .article-section .content{
    font-size: 0.7vw;
    max-width: 500px;
    text-align: justify;
    color:rgb(92, 92, 92);
}

.Home .art2{
    width: 100%;
    max-width: 500px;
    margin-right: 100px;
    margin-bottom: 40px;
    
}
.Home .art3{
    flex-shrink: 1;
    margin-right: 10px;
    flex-grow: 1;
}
.Home .container-section-ov {
    min-width: 80%;
    max-width: 80%;
    padding-bottom: 50px;
    border-left: 1px solid white;

}

.Home .card-container{
    max-width: 300px;
    margin: 20px auto auto 20px;
}

.Home .card-ov{
    margin: auto;
    box-shadow: 0px 5px 10px black;

}

.Home .card-ov:hover{
    box-shadow: 0px 5px 10px rgb(179, 118, 7);

}

.Home .img-art{
}
.Home .img-art img{
  width: 80%;
  max-height: 100%;
  margin: 20px auto 0 auto;
  border: 1px solid white;
}
.Home .text-art{
}
.Home.text-art p{
 margin: 20px;
}